/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.env
.editorconfig
.vscode
composer.lock
yarn.lock
.DS_Store
Thumbs.db
.project
.idea/
exclude.txt
/public/mix-manifest.json

